$white: #fff;
$lightBlue: #c8e6ee;
$lightBlue2: #60b3d1;
$blue: #239ac3;
$blue2: #2090D4;
$darkBlue: #2899c0;
$red: #C8543C;

$fontFamily: Arial, serif;
$fontSize-default: 18px;

$containerWidth: 1024px;
$gap: 30px;