$white: #fff;
$lightBlue: #c8e6ee;
$lightBlue2: #60b3d1;
$blue: #239ac3;
$darkBlue: #2899c0;
$red: #C8543C;

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}

html, body {
    margin:0;
    padding:0;
}

body {
    color: $blue;
    background: #2090D4;
    font-family: Arial, serif;
    font-size: 18px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    background: url("/images/background.png") repeat-y $white;
    background-position: right top;
    position: relative;
    padding: 30px;

    .inner-container {
        max-width: 600px;
    }
}
.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 250px;
    height: 40px;
    background: url("/images/logo.png") no-repeat;
    background-size: 100%;
}
.productList,
.break,
.registration-form {
    margin-bottom: 30px;
 }

h1 {
    font-size: 36px;
    font-weight: normal;
    margin: 0 0 30px 0;
}

.btn-primary {
    border: solid 2px $darkBlue;
    color: $white;
    text-decoration: underline;
    min-width: 200px;
    font-weight: bold;
    font-size: 18px;
    padding: 6px 12px;
    font-style: italic;
    background-color: $lightBlue2;
    box-shadow: 2px 2px 0 $lightBlue2, $white 2px 2px 0 inset;
    display: block;
    margin: 0 auto;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
    &:active{
       box-shadow: none;
    }

}

hr {
    border: none;
    border-top: 2px solid $darkBlue;
}
table, th, td {
    border: 2px solid $darkBlue;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    th {
        background: $darkBlue;
        color: $white;
        padding: 10px;
    }
    td {
        padding: 10px;
        text-align: center;

        &:first-child {
            background: $lightBlue;
            text-align: left;
        }
    }
}
input:focus, textarea:focus, select:focus{
    outline: none;
}

input {
    border: none;
    border-bottom: solid 1px $darkBlue;
    padding: 20px 0;
    font-size: 18px;
    color: $darkBlue;
    width: 100%;

    &[type="checkbox"] {
        width: auto;
    }

    @include placeholder {
        color: $darkBlue;
        text-align: left;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: $darkBlue !important;
}
.text-danger {
    font-size: 12px;
    color: $red;
    padding: 6px 0;
}
select {
    background: $darkBlue;
    padding: 10px;
    color: $white;
}

.requiredInfo {
    font-size: 12px;
    font-style: italic;
    margin: 20px 0;
}


.single-product .form-control {
    cursor: pointer;
    border: solid 2px transparent;
    padding: 6px;
    width: 100%;
    margin: 0 auto;
    min-width: fit-content;
    max-width: 100%;
    display: block;
    text-align: center;

    &:focus {
        cursor: text;
        border-color: $darkBlue;
        border-radius: 10px;
        text-align: left;
    }
}
